body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.license
{
    white-space: pre;
    font-family: Courier New;
    font-size: 11px;
    line-height: 11px;
}
